body {
	margin: 0px;
	overflow: hidden;
    background-color: #808080;
}
canvas {
	background-color: #CCCCCC;
    background-image: url('../images/background.png');
    border: 2px solid black;
    border-radius: 10px;
    -webkit-user-select: none;
}
div {
    text-align: center;
    -webkit-user-select: none;
}