body{
    background-color: #272D70;
    color: white;
    overflow: hidden;
}

canvas{
    border: 1px solid white;
    float: left;
}

#controls {
    border: 1px solid white;
    min-width: 200px;
    min-height: 480px;
}